<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sepia | About</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/all.min.css" />
    <link rel="stylesheet" href="../css/bondi.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
            <a class="navbar-brand mb-2" href="#">
                <img src="../imgs/logo.svg" alt="" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main"
                aria-controls="main" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="main">
                <ul class=" p-3 navbar-nav ms-auto mb-2 m-lg-auto">
                    <li class="nav-item">
                        <a class="btn rounded-pill  nav-link p-2 p-lg-3 " aria-current="page"
                            href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3 active" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3" href="./services.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3" href="./gallery.html">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 p-lg-3" href="./contact.html">Contact</a>
                    </li>
                </ul>

                <a class="btn" href="#"><img src="../imgs/Group 2.png" alt=""></a>
            </div>
        </div>
    </nav>
    <div class="about hidden ">
        <div class="container d-lg-flex gap-5">
            <div class="col-lg-6 text-light pb-5">
                <h1>Nous travaillons avec vous pour trouver la meilleure solution.
                </h1>
            </div>
            <p class="hidden container text-secondary pt-5 mt-5 ">Chez SEIPIA, nous sommes déterminés à travailler en
                étroite
                collaboration
                avec nos clients pour comprendre leurs besoins
                et leur fournir la meilleure solution possible. Nous mettons notre expertise à votre service pour
                vous aider à atteindre vos objectifs
                et réussir ensemble.</p>
        </div>
    </div>
    <div class="news  hidden d-lg-flex ">
        <div class=" map  " style="  display: grid;
        place-items: center;
        align-content: center;">
            <div class=" col-lg-8 container text-light  pb-5">
                <h1 class=" pb-3">Avec notre expertise, notre expérience et notre détermination, nous sommes prêts à
                    relever tous les défis et à surpasser toutes
                    les attentes.
                </h1>
                <p class="pt-3 ">nous sommes capables de relever tous les défis et de fournir des solutions
                    innovantes pour les besoins les plus complexes. Notre détermination à atteindre l'excellence est
                    inébranlable et nous sommes prêts à faire tout ce qu'il faut pour garantir la satisfaction de nos
                    clients.
                </p>
            </div>
        </div>
        <img src="../imgs/1.jpg" class="w-lg-50 w-100 hidden" alt="">
    </div>
    <div class="newss text-light hidden text-center " style="display: grid;
    place-items: center;
    align-content: center; ">

        <h1>Lorem ipsum dolor sit <br> amet consectetur.</h1>

    </div>
    <div class="exper py-5 hidden ">
        <div class="container d-lg-flex border-start  border-danger border-4 ">
            <h1>Lorem ipsum dolor sit amet consectetur.</h1>
            <div class="container hidden col-lg-6">
                <div class="d-lg-flex hidden">

                    <div class="container hidden col-lg-6 text-light p-5" style=" background-color: #FE5823;">
                        <h1>Expérience</h1>
                        <p>Lorem ipsum dolor sit amet consectetur. Turpis vestibulum tempor faucibus augue nec mattis.
                            Pellentesque sit justo sit in faucibus vel commodo eget.</p>
                    </div>
                    <div class="container hidden col-lg-6 p-5">
                        <h1 style=" color: #FE5823;">Expérience</h1>
                        <p>Lorem ipsum dolor sit amet consectetur. Turpis vestibulum tempor faucibus augue nec mattis.
                            Pellentesque sit justo sit in faucibus vel commodo eget.</p>
                    </div>
                </div>
                <div class="d-lg-flex hidden ">

                    <div class="container hidden col-lg-6 p-5">
                        <h1 style=" color: #FE5823;">Expérience</h1>
                        <p>Lorem ipsum dolor sit amet consectetur. Turpis vestibulum tempor faucibus augue nec mattis.
                            Pellentesque sit justo sit in faucibus vel commodo eget.</p>
                    </div>
                    <div class="container hidden col-lg-6 text-light p-5" style=" background-color: #FE5823;">
                        <h1>Expérience</h1>
                        <p>Lorem ipsum dolor sit amet consectetur. Turpis vestibulum tempor faucibus augue nec mattis.
                            Pellentesque sit justo sit in faucibus vel commodo eget.</p>
                    </div>
                </div>
                <div class="d-lg-flex hidden ">

                    <div class="container hidden col-lg-6 p-5 text-light" style=" background-color: #FE5823;">
                        <h1>Expérience</h1>
                        <p>Lorem ipsum dolor sit amet consectetur. Turpis vestibulum tempor faucibus augue nec mattis.
                            Pellentesque sit justo sit in faucibus vel commodo eget.</p>
                    </div>
                    <div class="container hidden col-lg-6 p-5 ">
                        <h1 style=" color: #FE5823;">Expérience</h1>
                        <p>Lorem ipsum dolor sit amet consectetur. Turpis vestibulum tempor faucibus augue nec mattis.
                            Pellentesque sit justo sit in faucibus vel commodo eget.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="landing hidden text-light">
        <div class="container d-lg-flex pt-5 pb-5">
            <div class="container">
                <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                <div>
                    <img src="../imgs/team-1.png" class="w-80 pt-5 pb-5" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur. Sed nec mattis morbi hendrerit hac. Amet urna viverra
                    porttitor
                    ultrices odio augue morbi suspendisse eu. Sed faucibus fermentum volutpat vitae rhoncus lacus nulla.
                    Lacus at egestas sagittis scelerisque. Venenatis porttitor sed luctus aliquet ut. Enim velit diam
                    vitae
                    proin nam turpis facilisi. Neque facilisis consectetur sit nunc sem tristique velit fermentum.</p>
                <button type="button" class="btn btn-light text-center"
                    onclick="window.location.href='./contact.html'">Contact
                    us</button>
            </div>
            <div class="container hidden">
                <p>Lorem ipsum dolor sit amet consectetur. Sed nec mattis morbi hendrerit hac. Amet urna viverra
                    porttitor
                    ultrices odio augue morbi suspendisse eu. Sed faucibus fermentum volutpat vitae rhoncus lacus nulla.
                    Lacus at egestas sagittis scelerisque. Venenatis porttitor sed luctus aliquet ut. Enim velit diam
                    vitae
                    proin nam turpis facilisi. Neque facilisis consectetur sit nunc sem tristique velit fermentum.</p>
                <img src="../imgs/team-1.png" alt="">
            </div>
        </div>
    </div>
    <div class="footer pt-5 pb-5 hidden text-center text-md-start">
        <div class="container">
            <div class="row">
                <div class="col-md-6 hidden col-lg-4">
                    <div class="info mb-5">
                        <img src="../imgs/logo.svg" alt="" class="mb-4" />
                        <p class="mt-5">
                            Nous sommes engagés à fournir des solutions durables et efficaces à nos clients, tout en
                            respectant l'environnement. Contactez-nous pour en savoir plus sur nos services.
                        </p>

                    </div>
                </div>
                <div class="col-md-6 hidden mr-5 col-lg-2">
                    <div class="links">
                        <h5 class="pb-5">Pages</h5>
                        <ul class="list-unstyled lh-lg ">
                            <li><a href="../index.html">Home</a></li>
                            <li><a href="./about.html">About</a></li>
                            <li><a href="./services.html">Services</a></li>
                            <li><a href="./gallery.html">Gallery</a></li>
                            <li><a href="./contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 hidden mr-5 col-lg-2">
                    <div class="links">
                        <h5 class="pb-5">Contact
                        </h5>
                        <ul class="list-unstyled lh-lg">
                            <li><i class="fa fa-phone pe-2"></i>05 28 52 12 88</li>
                            <li><i class="fa fa-envelope pe-2"></i>contact@seipia.ma</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 hidden pr-5 col-lg-4">
                    <div class="contact">
                        <h5 class="pb-5">Follow us</h5>
                        <ul class="d-flex list-unstyled gap-3">
                            <li>
                                <a class="d-block icon" href="#"><i class="fa-brands fa-twitter"></i></i></a>
                            </li>
                            <li>
                                <a class="d-block icon" href="#"><i class="fa-brands fa-facebook"></i></a>
                            </li>
                            <li>
                                <a class="d-block icon" href="#"><i class="fa-brands fa-instagram"></i></a>
                            </li>
                            <li>
                                <a class="d-block icon" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright mt-5 text-center ">
                Created By <span>Hueman</span>&copy; 2023 - <span>SEIPIA</span>, All rights reserved
            </div>
        </div>
    </div>
    <script src="../js/bootstrap.bundle.min.js"></script>
    <script src="../js/all.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>